<div class="container" my-5>
    <h1 class="mt-5"> Edit Employee</h1>

    <div class="row mt-5">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="updateEmployee()">
                <div class="mb-3">
                    <label for="name">Id</label>
                    <input type="text"  class="form-control" id="id" readonly
                           name="id" [(ngModel)]="employeeDetails.id">
                  </div>
                <div class="mb-3">
                  <label for="name">Name</label>
                  <input type="text"  class="form-control" id="name"
                         name="name" [(ngModel)]="employeeDetails.name">
                </div>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email"
                           name="email" [(ngModel)]="employeeDetails.email">
                </div>
                <div class="mb-3">
                    <label for="phone">Phone</label>
                    <input type="number" class="form-control" id="phone"
                           name="phone" [(ngModel)]="employeeDetails.phone">
                </div>
                <div class="mb-3">
                    <label for="salary">Salary</label>
                    <input type="number" class="form-control" id="salary"
                           name="salary" [(ngModel)]="employeeDetails.salary">
                </div>
                <div class="mb-3">
                    <label for="department">Department</label>
                    <input type="text" class="form-control" id="department"
                           name="department" [(ngModel)]="employeeDetails.department">
                  </div>
                <div class="mt-5">
                  <button type="submit" class="btn btn-primary mb-3 me-4">Save employee</button>
                  <button type="button" class="btn btn-danger mb-3" (click)="deleteEmployee(employeeDetails.id)">Delete employee</button>
                </div>
            </form>
        </div>    
    </div>

</div>